/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef6fc;
    color: #333;
    line-height: 1.6;
}

/* Estilos do cabeçalho */
header {
    background-color: #007acc;
    color: white;
    padding: 100px 0;
    text-align: center;
    background-image: linear-gradient(to right, #007acc, #00b4db);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Botão de chamada para ação */
.cta-btn {
    background-color: #005f99;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #004f7a;
}

/* Estilos da seção "Sobre" */
#about {
    background-color: #bdb9b9;
    padding: 60px 20px;
    text-align: center;
    color: #333;
}

#about h2 {
    margin-bottom: 20px;
    color: #007acc;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#about p {
    font-size: 1.2em;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 30px;
    color: #555;
    padding: 0 15px;
}

#about .cta-btn {
    background-color: #007acc;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

#about .cta-btn:hover {
    background-color: #005f99;
    transform: scale(1.05);
}

/* Estilos responsivos específicos para a seção "Sobre" */
@media (max-width: 768px) {
    #about h2 {
        font-size: 2em;
    }

    #about p {
        font-size: 1.1em;
    }

    #about .cta-btn {
        padding: 12px 30px;
        font-size: 1.1em;
    }
}

/* Estilos da seção de contato */
#contact {
    background-color: #eef6fc;
    padding: 50px 0;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact input, #contact textarea {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    padding: 15px 30px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact button:hover {
    background-color: #005f99;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    #contact input, #contact textarea {
        width: 90%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
    overflow-x: hidden; /* Para evitar rolagem horizontal */
}

.carousel-container {
    width: 90vw; /* 90% da largura da viewport */
    height: 90vh; /* 90% da altura da viewport */
    margin: 60px auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background-color: #ffffff;
}

.carousel-item {
    display: none;
    text-align: center;
    padding: 20px; /* Ajustado para dar espaço ao conteúdo */
    position: absolute;
    width: 100%;
    height: 100%; /* Ajustado para ocupar 100% da altura do container */
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.carousel-item.active {
    display: block;
}

.carousel-item h1 {
    font-size: 2rem;
    color: #005f99;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carousel-item p {
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.6;
    margin-bottom: 30px;
}

.carousel-link {
    display: inline-block;
    padding: 12px 28px;
    background-color: #2980b9;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.carousel-link:hover {
    background-color: #1f5f8a;
    transform: scale(1.05);
}

.carousel-item img {
    width: 100%; /* Faz com que a imagem ocupe 100% da largura do container */
    height: auto; /* Mantém a proporção da altura */
    max-height: 80%; /* Limita a altura máxima para não exceder o container */
    object-fit: cover; /* Garante que a imagem cubra o container sem distorção */
    display: block; /* Garante que a imagem ocupe o espaço disponível */
    margin: 0 auto; /* Centraliza a imagem no container */
}

/* Botões pequenos e discretos */
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    opacity: 0.7;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.carousel-buttons button:focus {
    outline: none;
}

.carousel-buttons .prev {
    margin-left: 10px;
}

.carousel-buttons .next {
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-item {
        padding: 20px;
    }

    .carousel-item h1 {
        font-size: 1.5rem;
    }

    .carousel-item p {
        font-size: 0.9rem;
    }

    .carousel-link {
        padding: 10px 20px;
    }

    .carousel-item img {
        max-width: 100%; /* Ajusta o tamanho da imagem em telas menores */
        max-height: 70%; /* Ajusta a altura da imagem em telas menores */
    }
}

@media (max-width: 480px) {
    .carousel-item {
        padding: 10px;
    }

    .carousel-item h1 {
        font-size: 1.2rem;
    }

    .carousel-item p {
        font-size: 0.8rem;
    }

    .carousel-link {
        padding: 8px 16px;
    }

    .carousel-buttons button {
        padding: 10px;
        font-size: 1rem;
    }

    .carousel-item img {
        max-width: 100%; /* Ajusta o tamanho da imagem em telas menores */
        max-height: 60%; /* Ajusta a altura da imagem em telas menores */
    }
}


/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Para evitar rolagem horizontal indesejada */
}

.menu-container {
    position: relative;
}

.menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: #005f99; /* Cor azul */
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.menu-icon:hover {
    background-color: #0056b3; /* Cor azul mais escura no hover */
}

.menu-bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff; /* Cor das barras do menu */
    margin: 6px auto;
    transition: all 0.3s ease;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon .menu-bar:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 11px; /* Ajuste fino para alinhar o X */
}

#menu-toggle:checked + .menu-icon .menu-bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-icon .menu-bar:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 11px; /* Ajuste fino para alinhar o X */
}

.menu {
    display: none;
    position: fixed;
    top: 60px; /* Distância do topo do botão */
    left: 15px;
    width: calc(100% - 30px); /* Largura ajustada para a tela */
    max-width: 300px; /* Largura máxima do menu */
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 999;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para dar destaque */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Tamanho menor para a lista */
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #2980b9; /* Cor de destaque ao passar o mouse */
}

#menu-toggle:checked ~ .menu {
    display: block;
    transform: translateY(0); /* Garantir que o menu apareça corretamente */
}

@media (max-width: 768px) {
    .menu-icon {
        top: 10px;
        left: 10px;
        padding: 12px;
    }

    .menu-bar {
        width: 25px;
        height: 2px;
        margin: 5px auto;
    }

    .menu {
        top: 60px;
        width: calc(100% - 20px);
        max-width: 250px; /* Ajuste a largura máxima em telas pequenas */
    }

    .menu a {
        font-size: 14px; /* Tamanho menor em telas pequenas */
    }
}

@media (max-width: 480px) {
    .menu-icon {
        top: 8px;
        left: 8px;
        padding: 10px;
    }

    .menu-bar {
        width: 20px;
        height: 2px;
        margin: 4px auto;
    }

    .menu {
        top: 60px;
        width: calc(100% - 16px);
        max-width: 200px; /* Ajuste a largura máxima em telas muito pequenas */
    }

    .menu a {
        font-size: 12px; /* Tamanho menor em telas muito pequenas */
    }
}

/* Icone do whatsapp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s, height 0.3s;
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
    transition: width 0.3s, height 0.3s;
}

/* Tamanho médio para tablets */
@media (max-width: 768px) {
    .whatsapp-float {
        width: 50px;
        height: 50px;
    }

    .whatsapp-float img {
        width: 30px;
        height: 30px;
    }
}

/* Tamanho menor para smartphones */
@media (max-width: 480px) {
    .whatsapp-float {
        width: 40px;
        height: 40px;
    }

    .whatsapp-float img {
        width: 25px;
        height: 25px;
    }
}

